:root {
  --clr-gradient-violet: 273 75% 66%;
  --clr-gradient-blue: 240 73% 65%;
  --clr-primary-blue-dark: 238 29% 16%;
  --clr-primary-red: 14 88% 65%;

  --clr-neutral-blue: 240 6% 50%;
  --clr-neutral-blue-dark: 237 12% 33%;
  --clr-neutral-blue-light: 240 5% 91%;

  --ff-sans-serif: 'Kumbh Sans', sans-serif;
}

/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
