:root {
  --clr-gradient-violet: 273 75% 66%;
  --clr-gradient-blue: 240 73% 65%;
  --clr-primary-blue-dark: 238 29% 16%;
  --clr-primary-red: 14 88% 65%;

  --clr-neutral-blue: 240 6% 50%;
  --clr-neutral-blue-dark: 237 12% 33%;
  --clr-neutral-blue-light: 240 5% 91%;

  --ff-sans-serif: 'Kumbh Sans', sans-serif;
}

/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.75rem;
  font-family: var(--ff-sans-serif);
}

ul {
  list-style: none;
  padding: 0;
}

/* Utilities */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 1.2rem;
}

.bg-gradient {
  background: linear-gradient(
    0deg,
    hsl(var(--clr-gradient-blue)),
    hsl(var(--clr-gradient-violet))
  );
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

/* Layout */

.faq-container {
  position: relative;
  padding: 0 2em 2.5em;
  border-radius: 2rem;
  width: min(95%, 800px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-container {
  position: absolute;
  height: 14rem;
  width: 80%;
  top: 0;
  /*  */
  background: no-repeat url('./images/illustration-woman-online-mobile.svg'),
    no-repeat url('./images/bg-pattern-mobile.svg');
  background-position: top center, bottom center;
  background-size: contain;
  transform: translateY(-50%);
}

.faq-info {
  margin-top: 7rem;
}

.faq-info h1 {
  color: hsl(var(--clr-primary-blue-dark));
  font-size: 2.3rem;
  font-weight: 700;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.question {
  border-bottom: 1px solid hsl(var(--clr-neutral-blue-light));
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  color: hsl(var(--clr-neutral-blue-dark));
  font-size: 0.8rem;
  font-weight: 400;
}

.title span {
  color: hsl(var(--clr-primary-red));
}

.answer {
  color: hsl(var(--clr-neutral-blue));
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
